<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"  ></script>
<script th:inline="javascript">
    /*<![CDATA[*/
      $(document).ready(function() {
        $("#categoryTitle").change(function() {
          var categoryId = $(this).val();
          $.get("./loadCategories?categoryId=" + categoryId, function(data) {
            $("#brandName").empty();
            $.each(data, function(index, brand) {
              $("#brandName").append("<option value='" + brand.brandId+ "'>" + brand.brandName + "</option>");
            });
          });
        });
      });
    /*]]>*/
  </script>

</head>
<body>
	<h1>Employee Form</h1>
	<hr />


	<form action="./saveV2" method="post">
		<div>
			<label>Product Title</label> 
			<input name="productTitle">
		</div>
		
		<div>
			<label>Price</label> 
			<input name="priceInfo.price">
		</div>
		
		<div>
			<label>keywords</label> 
			<textarea name="keywords"></textarea>
		</div>
		
		<div>
			<label>Description</label> 
			<textarea name="description"></textarea>
		</div>
		
		<div>
			<label>Quantity</label> 
			<input name="stockInfo.stock">
		</div>
		
		<div>
			<label>Select Category</label> 
			<select name="category.categoryId" id="categoryTitle">
			<option value="">Select category</option>
        		<option th:each="category : ${categories}" th:value="${category.categoryId}"  th:text="${category.categoryTitle}"></option>	
			</select>
		</div>
		
		<div>
			<label>Select Brand Name</label> 
			<select name="brand.brandId" id="brandName">
				<option value="">Select a state name</option>
			</select>
		</div>
		


		
		<div>
			<button>Save</button>
		</div>

	</form>




</body>
</html>