<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Employee Form</h1>
	<hr />

	<form action="./saveV1" method="post">

		<div>
			<label>Product ID</label> 
			<input name="id">
		</div>
		
		<div>
			<label>Product Name</label> 
			<input name="name">
		</div>
		
		<div>
			<label>Price</label> 
			<input name="price">
		</div>
		
		<div>
			<label>Description</label> 
			<textarea name="description"></textarea>
		</div>
		
		<div>
			<button>Save</button>
		</div>

	</form>




</body>
</html>